:root {
    --color-gray-lightest: #363940;
    --color-gray-light: #2c2e33;
    --color-gray: #1c202a;
    --color-gray-dark: #141722;
    --color-gray-darkest: #11151c;
    
    --color-light: #f7f7ff;
    
    --color-red: #ff2f2f;
    --color-green: #61f461;
  }
  
  body {
    align-items: center;
    background: var(--color-gray-light);
    display: flex;
    font-family: 'Geo', monospace;
    font-size: 62.5%;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Typography */

  h1 {
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  /* Layout */

  header {
    border-bottom: 1px solid var(--color-gray);
    color: var(--color-light);
    text-align: center;
    padding: 0.8rem;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
  }
  
  main {
    border-radius: 0.8rem;
    padding: 1.6rem 2.4rem 2.4rem;
  }
  
  .grid {
    border-radius: 0.8rem;
    display: grid;
    gap: 0.4rem;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .switch {
    appearance: none;
    background-color: #22262d;
    border: 1px solid var(--color-gray);
    border-radius: 0.2rem;
    box-shadow: inset 0 0 4px var(--color-gray-light);
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 1.6rem;
    position: relative;
  }

  .switch:hover {
      border-color: var(--color-gray-dark);
  }
  
  .switch:checked {
    background-color: var(--color-gray-lightest);
    box-shadow: inset 0 0 4px var(--color-gray-dark);
  }
  
  .switch::before {
    background-color: var(--color-gray);
    border-radius: 50%;
    box-shadow: inset 0 1px 4px var(--color-gray-darkest);
    content: '';
    display: block;
    height: 8px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
  }
  
  .switch:checked::before {
    background-color: var(--color-light);
    box-shadow: 0 1px 4px var(--color-light),
                0 1px 8px var(--color-light);
  }
  
  
  
  
  